<header>
    <nav>
        <ul>
            <li><a class="<%= path === '/Practices/practiceAssigment4' ? 'active' : '' %>" href="/Practices/practiceAssigment4">Insert Users</a></li>
            <li><a class="<%= path === '/Practices/practiceAssigment4/users' ? 'active' : '' %>" href="/Practices/practiceAssigment4/users">Users</a></li>
        </ul>
    </nav>
</header>